@import "tailwindcss";

@font-face {
  font-family: 'Salted';
  src: url('/fonts/salted.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.font-roboto {
  font-family: var(--font-roboto);
}


.font-salted {
  font-family: 'Salted', sans-serif;
}